<!--顶部菜单部分-->
<div class="ui inverted fixed basic blue huge menu" style="height:80px;">
  <a href="/index/" class="item">
    <h1>SKYNE</h1>
  </a>
  <div class="right menu">
    <a target="_blank" href="https://skyne0.github.io" class="item">关于ME<i class="large paper plane outline icon"></i></a>
    <a class="item">PYEGG<i class="large bug icon"></i></a>
    <a target="_blank" href="https://github.com/skyne0/" class="item">GITHUB<i class="large github alternate icon"></i></a>
  </div>
  <div class="item">
      <div class="ui icon input">
        <input placeholder="搜一搜" type="text">
        <i class="search icon"></i>
      </div>
  </div>
  <div class="item">
    <a href="/admin/" class="ui red button">登录</a>
  </div>
</div>
<div style="margin-top:85px">
    <h6 class="ui horizontal divider header">
        <!--<i class="mini heart icon"></i>-->
        <!--The wind also loves quiet-->
        <!--<i class="mini heart icon"></i>-->
    </h6>
</div>